

<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>
	
	<img class="bg retina" src="../_common/images/<%= name %>/<%= size %>/bg.jpg" />
	
	<div class="frame frame1">		
		<img class="hero hero_off retina" src="../_common/images/<%= name %>/<%= size %>/hero_off.jpg" />
		<img class="hero hero_on retina" src="../_common/images/<%= name %>/<%= size %>/hero_on.jpg" />
		<img class="phone" src="../_common/images/<%= name %>/<%= size %>/phone.png" />
		<img class="device retina" src="../_common/images/<%= name %>/<%= size %>/device.png" />		
		<img class="ypy ypy_1 retina" src="../_common/images/<%= name %>/<%= size %>/ypy_1.png" />
		<img class="ypy ypy_2 retina" src="../_common/images/<%= name %>/<%= size %>/ypy_2.png" />
		<img class="ypy ypy_3 retina" src="../_common/images/<%= name %>/<%= size %>/ypy_3.png" />
		<img class="t1 retina" src="../_common/images/<%= name %>/<%= size %>/t1.png" />
		<img class="t2 retina" src="../_common/images/<%= name %>/<%= size %>/t2.png" />
	</div>

	<div class="frame frame2">		
		<img class="end_device retina" src="../_common/images/<%= name %>/<%= size %>/end_device.png" />
		<img class="end_url retina" src="../_common/images/<%= name %>/<%= size %>/end_url.png" />
		<img class="end_ypy end_ypy retina" src="../_common/images/<%= name %>/<%= size %>/end_ypy.png" />		
		<img class="end_cta retina" src="../_common/images/<%= name %>/<%= size %>/end_cta.png" />
		<img class="end_legal retina" src="../_common/images/legal_<%= size%>.png" />
		
	</div>

	<!-- <img class="_logo retina" src="../_common/images/<%= name %>/<%= size %>/_logo.png" /> -->
	
	 
 	<img class="end_smart retina" src="../_common/images/<%= name %>/<%= size %>/end_smart.png" />
	 <% include ../_common/templates/olg_logo %>
	 <% include ../_common/templates/legal %>
</div>







