<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>
	
	




	<div class="frame frame1">		
		<img class="retina arrows" src="../_common/images/<%= name %>/<%= size %>/arrows.png" />
		<img class="retina phone_1a" src="../_common/images/<%= name %>/<%= size %>/phone_1a.png" />
		<img class="retina phone_1b" src="../_common/images/<%= name %>/<%= size %>/phone_1a.png" />
		<img class="retina t1" src="../_common/images/<%= name %>/<%= size %>/t1.png" />
		<img class="retina t2" src="../_common/images/<%= name %>/<%= size %>/t2.png" />

		<img class="retina hero" src="../_common/images/<%= name %>/<%= size %>/hero.jpg" />
		<img class="retina txt_uyg_big shadow" src="../_common/images/<%= name %>/<%= size %>/txt_uyg_big.png" />
		<img class="retina arrows_2" src="../_common/images/<%= name %>/<%= size %>/arrows_2.png" />
		
		<img class="retina txt_dta" src="../_common/images/<%= name %>/<%= size %>/txt_dta.png" />
		<img class="retina txt_uyg_big shadow" src="../_common/images/<%= name %>/<%= size %>/txt_uyg_big.png" />

		<img class="retina phone_2" src="../_common/images/<%= name %>/<%= size %>/phone_2.png" />

		<img class="retina legal" src="../_common/images/<%= name %>/<%= size %>/legal.png" />
		<img class="retina playsmart" src="../_common/images/<%= name %>/<%= size %>/playsmart.png" />

	</div>

	<% include ../_common/templates/olg_logo %>
	<% include ../_common/templates/legal %>
 


</div>


